<a href="https://colab.research.google.com/github/LilySu/Python_Practice/blob/master/Leetcode__182_Duplicate_Emails.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a SQL query to find all duplicate emails in a table named Person.
```
+----+---------+
| Id | Email   |
+----+---------+
| 1  | a@b.com |
| 2  | c@d.com |
| 3  | a@b.com |
+----+---------+
For example, your query should return the following for the above table:

+---------+
| Email   |
+---------+
| a@b.com |
+---------+
```

In [ ]:
# Write your MySQL query statement below
SELECT Email
FROM Person
GROUP BY
Email
HAVING 
    COUNT(*) > 1;