<a href="https://colab.research.google.com/github/LilySu/Python_Practice/blob/master/Leetcode__38_Count_and_Say.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The count-and-say sequence is the sequence of integers with the first five terms as following:
```
1.     1
2.     11
3.     21
4.     1211
5.     111221
```
1 is read off as "one 1" or 11.
11 is read off as "two 1s" or 21.
21 is read off as "one 2, then one 1" or 1211.

Given an integer n where 1 ≤ n ≤ 30, generate the nth term of the count-and-say sequence. You can do so recursively, in other words from the previous member read off the digits, counting the number of digits in groups of the same digit.

Note: Each term of the sequence of integers will be represented as a string.

 
```
Example 1:

Input: 1
Output: "1"
Explanation: This is the base case.
Example 2:

Input: 4
Output: "1211"
Explanation: For n = 3 the term was "21" in which we have two groups "2" and "1", "2" can be read as "12" which means frequency = 1 and value = 2, the same way "1" is read as "11", so the answer is the concatenation of "12" and "11" which is "1211".
```

In [ ]:
def countAndSay(self, n):
    """
    :type n: int
    :rtype: str
    """

In [ ]:
def countAndSay(self, n):
    """
    :type n: int
    :rtype: str
    """
    def find_dup(s):
        temp = []
        for i in s:
            if i not in temp:
                temp.append(i)
        for i in temp:
            occurrences = temp.count(i)
            s += str(occurrences) + i
        return s
    s = '1'
    r = ''
    while n != 1:
        s = s + r
        s = find_dup(s)
        n -=1
        return r
    return '1'

In [7]:
def countAndSay(n):
    """
    :type n: int
    :rtype: str
    """
    l = []
    def fib(s):
        if s <= 1:
            return s
        else:
            return (fib(s-1) + fib(s-2))
    if n <=0:
        return "test"
    else:
        for i in range(n):
            l.append(fib(i))
        return l

countAndSay(5)

[0, 1, 1, 2, 3]

In [28]:
#fibo
def countAndSay(n):
    """
    :type n: int
    :rtype: str
    """
    l = ''
    def say(s):
        if s <= 1:
            return s
        else:
            return (say(s-1)+say(s-2))
    if n <= 1:
        return "1"
    else:
        for i in range(1,n):
            l += str(say(i))
        return l

countAndSay(6)

'11235'

In [136]:
def countAndSay(n):
    """
    :type n: int
    :rtype: str
    """
    l = ''
    def say(b):
        c = ''
        se = set(b)
        for i in se:
            c += str(b.count(i)) + i
        return c
    if n <= 0:
        return "0"
    else:
        for i in range(n+1):
            if i == 1:
                l = '11'

            else:
                c = say(l)
                l = c
    return l

countAndSay(3)

'1211'

In [ ]:
def countAndSay(n):
    """
    :type n: int
    :rtype: str
    """
    l = ''
    def say(b):
        c = ''
        for i,j in b:
            if i < b:
                if i in c:
                c += i
            c += str(b.count(i)) + i
        return c
    if n <= 0:
        return "0"
    else:
        for i in range(n+1):
            if i == 1:
                l = '11'

            else:
                c = say(l)
                l = c
    return l

countAndSay(3)

In [ ]:
 1.     1
 2.     11
 3.     21
 4.     1211
 5.     111221 
 6.     312211
 7.     13112221
 8.     1113213211
 9.     31131211131221
10.     13211311123113112211

for i in string:
    if the next one is also the number, group together

In [ ]:
if index < len(string):

In [122]:
l = '21'
s = set(l)

for i in s:
    print(l.count(i))
    print(i)

1
2
1
1

In [16]:
for i in range(3):
    prev = None
    col = []
    s = '21'
    r = ''
    for i,j in enumerate(s):
        if not prev:
            prev = j
            col.append(j)
            if len(s) == 1:
                r +='1'
                r += j
            # print(col)
        elif i == (len(s)-1):
            if j in col:
                col.append(j)
                r += str(len(col))
                r += j
            elif len(col) > 0:
                r += str(len(col))
                r += col[-1]
                r += '1'
                r += j
            else:
                r += '1'
                r += j
        elif j in col:
            col.append(j)
            if i == (len(s)-1):
                r += str(len(col))
                r += j
        else:
            r += str(len(col))
            r += prev
            col.clear()
            col.append(j)
            prev = j
            if i == (len(s)-1):
                r += str(len(col))
                r += j
    print(r)
#  6.     312211
#  7.     13112221
#  8.     1113213211
#  9.     31131211131221
# 10.     13211311123113112211

1211
1211
1211

In [26]:

def countAndSay(n):
    """
    :type n: int
    :rtype: str
    """
    def coun(s):
        prev = None
        col = []
        r = ''
        for i,j in enumerate(s):
            if not prev:
                prev = j
                col.append(j)
                if len(s) == 1:
                    r +='1'
                    r += j
                # print(col)
            elif i == (len(s)-1):
                if j in col:
                    col.append(j)
                    r += str(len(col))
                    r += j
                elif len(col) > 0:
                    r += str(len(col))
                    r += col[-1]
                    r += '1'
                    r += j
                else:
                    r += '1'
                    r += j
            elif j in col:
                col.append(j)
                if i == (len(s)-1):
                    r += str(len(col))
                    r += j
            else:
                r += str(len(col))
                r += prev
                col = []
                col.append(j)
                prev = j
                if i == (len(s)-1):
                    r += str(len(col))
                    r += j
        return r
    l = ['1']
    for i in range(n-1):
        i = l[-1]
        l.append(coun(i))
    return l[-1]

countAndSay(3)   

#  1.     1
#  2.     11
#  3.     21
#  4.     1211
#  5.     111221 
#  6.     312211
#  7.     13112221
#  8.     1113213211
#  9.     31131211131221
# 10.     13211311123113112211

'21'

In [1]:
def test(n):
    def summ(i):
        i = i/2
        return (i)
    l = [3]
    for i in range(n):
        i = l[-1]
        l.append(summ(i))
    return l
test(5)

[3, 1.5, 0.75, 0.375, 0.1875, 0.09375]