<a href="https://colab.research.google.com/github/LilySu/Python_Practice/blob/master/Leetcode__53_Maximum_Subarray.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given an integer array nums, find the contiguous subarray (containing at least one number) which has the largest sum and return its sum.
```
Example:

Input: [-2,1,-3,4,-1,2,1,-5,4],
Output: 6
Explanation: [4,-1,2,1] has the largest sum = 6.
```
Follow up:

If you have figured out the O(n) solution, try coding another solution using the divide and conquer approach, which is more subtle.

In [ ]:
class Solution(object):
    def maxSubArray(self, nums):
        """
        :type nums: List[int]
        :rtype: int
        """

from 1 to total length of list,
iterate through each item, adding itself through the list
iterate through each item adding itself and the next item through the list
iterate through each item adding iteself, the next and th next through the list.

In [18]:
def maxSubArray(nums):
    maxl = []
    total = len(nums)
    start = 1
    sum = 0
    while start < total:
        for i in range(len(nums)-start):
            index = i 
            maxl.append(i)
    
            if index != start:
                index += 1
                sum += nums[index]
        maxl.append(f'sum: {str(sum)}')
        maxl.append(f'start:{start}')
        maxl.append(f'number added up {len(nums) - start}')
        start += 1
    return maxl

nums = [-2,1,-3,4,-1,2,1,-5,4]
maxSubArray(nums)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 'sum: 6',
 'start:1',
 'number added up 8',
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 'sum: 1',
 'start:2',
 'number added up 7',
 0,
 1,
 2,
 3,
 4,
 5,
 'sum: 6',
 'start:3',
 'number added up 6',
 0,
 1,
 2,
 3,
 4,
 'sum: 7',
 'start:4',
 'number added up 5',
 0,
 1,
 2,
 3,
 'sum: 8',
 'start:5',
 'number added up 4',
 0,
 1,
 2,
 'sum: 10',
 'start:6',
 'number added up 3',
 0,
 1,
 'sum: 8',
 'start:7',
 'number added up 2',
 0,
 'sum: 9',
 'start:8',
 'number added up 1']

In [25]:
def maxSubArray(nums):
    maxl = []
    total = len(nums)
    start = 1
    sum = []
    addup = 0
    while start < total:
        maxl.append(f'start:{start}')
        for count_in_start in range(start):
            maxl.append(f'count_in_start:{count_in_start}')
            new_list = []
            for index in range(len(nums)-count_in_start):
                counter = 0
                while counter <= count_in_start:
                    addup += nums[index+counter]
                    counter += 1
                new_list.append(addup)
            # sum.append(new_list)
            maximum = max(new_list)
        maxl.append(maximum)
        start += 1
    return maxl

nums = [-2,1,-3,4,-1,2,1,-5,4]
maxSubArray(nums)

['start:1',
 'count_in_start:0',
 2,
 'start:2',
 'count_in_start:0',
 'count_in_start:1',
 7,
 'start:3',
 'count_in_start:0',
 'count_in_start:1',
 'count_in_start:2',
 8,
 'start:4',
 'count_in_start:0',
 'count_in_start:1',
 'count_in_start:2',
 'count_in_start:3',
 19,
 'start:5',
 'count_in_start:0',
 'count_in_start:1',
 'count_in_start:2',
 'count_in_start:3',
 'count_in_start:4',
 37,
 'start:6',
 'count_in_start:0',
 'count_in_start:1',
 'count_in_start:2',
 'count_in_start:3',
 'count_in_start:4',
 'count_in_start:5',
 64,
 'start:7',
 'count_in_start:0',
 'count_in_start:1',
 'count_in_start:2',
 'count_in_start:3',
 'count_in_start:4',
 'count_in_start:5',
 'count_in_start:6',
 94,
 'start:8',
 'count_in_start:0',
 'count_in_start:1',
 'count_in_start:2',
 'count_in_start:3',
 'count_in_start:4',
 'count_in_start:5',
 'count_in_start:6',
 'count_in_start:7',
 124]

In [19]:
nums = [-2,1,-3,4,-1,2,1,-5,4]
max(nums)

4

In [15]:
sum([])

0

In [11]:
counter = 0
while counter <= 3:
    print(counter)
    counter += 1

0
1
2
3