<a href="https://colab.research.google.com/github/LilySu/Python_Practice/blob/master/Leetcode_September_Compare_Version_Numbers_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Compare two version numbers version1 and version2.
If version1 > version2 return 1; if version1 < version2 return -1;otherwise return 0.

You may assume that the version strings are non-empty and contain only digits and the . character.

The . character does not represent a decimal point and is used to separate number sequences.

For instance, 2.5 is not "two and a half" or "half way to version three", it is the fifth second-level revision of the second first-level revision.

You may assume the default revision number for each level of a version number to be 0. For example, version number 3.4 has a revision number of 3 and 4 for its first and second level revision number. Its third and fourth level revision number are both 0.

 ```

Example 1:

Input: version1 = "0.1", version2 = "1.1"
Output: -1
Example 2:

Input: version1 = "1.0.1", version2 = "1"
Output: 1
Example 3:

Input: version1 = "7.5.2.4", version2 = "7.5.3"
Output: -1
Example 4:

Input: version1 = "1.01", version2 = "1.001"
Output: 0
Explanation: Ignoring leading zeroes, both “01” and “001" represent the same number “1”
Example 5:

Input: version1 = "1.0", version2 = "1.0.0"
Output: 0
Explanation: The first version number does not have a third level revision number, which means its third level revision number is default to "0"
 
```
Note:

Version strings are composed of numeric strings separated by dots . and this numeric strings may have leading zeroes.
Version strings do not start or end with dots, and they will not be two consecutive dots.

In [ ]:
class Solution(object):
    def compareVersion(self, version1, version2):
        """
        :type version1: str
        :type version2: str
        :rtype: int
        """

In [8]:
# version1 = "7.5.2.4"
# version2 = "7.5.3"
# version1 = "1.0"
# version2 = "1.0.0"
version1 = "1.1"
version2 = "1.01"
def compareVersion(version1, version2):
    vl1 = []
    vl2 = []
    v1 = version1.split(".")
    v2 = version2.split(".")
    max_len = max(len(v1), len(v2))
    for i in range(max_len):
        val1 = int(v1[i]) if i < len(v1) else 0
        val2 = int(v1[i]) if i < len(v1) else 0
        if val1 > val2:
            return 1
        if val2 > val1:
            return -1
    return 0


compareVersion(version1, version2)

0

In [20]:
# version1 = "7.5.2.4"
version1 = "1.01"
version1 = version1.split(".")

version1

['1', '01']

In [21]:
int(''.join(version1))

101

In [54]:
# version1 = "7.5.2.4"
# version2 = "7.5"
# version1 = "1.01"
# version2 = "1.001"

version1 = "1.01"
version2 = "1.001"
vl1 = version1.split(".")
vl2 = version2.split(".")
max_len = max(len(vl1), len(vl2))
l1 = ["0" for i in range(max_len - len(vl1))]
l2 = ["0" for i in range(max_len - len(vl2))]
v1 = vl1 + l1
v2 = vl2 + l2
v1 = [i.lstrip('0') for i in v1]
v2 = [i.lstrip('0') for i in v2]
v1 = int(''.join(v1))
v2 = int(''.join(v2))
v1

11

In [55]:
v2

11

In [51]:
r = v1[1].lstrip('0')
r

'1'

In [26]:
for v_1, v_2 in zip(v1, v2):
    print(v_1)
    print(v_2)

7
7
5
5
2
0
4
0

In [31]:
tuple(zip(v1, v2))

(('7', '7'), ('5', '5'), ('2', '0'), ('4', '0'))