<a href="https://colab.research.google.com/github/LilySu/Python_Practice/blob/master/Leetcode__171_Excel_Sheet_Column_Number.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Given a column title as appear in an Excel sheet, return its corresponding column number.
'''

For example:

    A -> 1
    B -> 2
    C -> 3
    ...
    Z -> 26
    AA -> 27
    AB -> 28 
    ...
```
Example 1:

Input: "A"
Output: 1
Example 2:

Input: "AB"
Output: 28
Example 3:

Input: "ZY"
Output: 701
 

Constraints:

1 <= s.length <= 7
s consists only of uppercase English letters.
s is between "A" and "FXSHRXW".
```

In [ ]:
def titleToNumber(s):
    """
    :type s: str
    :rtype: int
    """

    return s

titleToNumber("ZY")

In [2]:
import string
values = {}
for index, letter in enumerate(string.ascii_uppercase):
    values[letter] = index + 1
values

{'A': 1,
 'B': 2,
 'C': 3,
 'D': 4,
 'E': 5,
 'F': 6,
 'G': 7,
 'H': 8,
 'I': 9,
 'J': 10,
 'K': 11,
 'L': 12,
 'M': 13,
 'N': 14,
 'O': 15,
 'P': 16,
 'Q': 17,
 'R': 18,
 'S': 19,
 'T': 20,
 'U': 21,
 'V': 22,
 'W': 23,
 'X': 24,
 'Y': 25,
 'Z': 26}

In [20]:
values = {}
for index, letter in enumerate(string.ascii_uppercase):
    values[letter] = index + 1

s = 'AAA'
result = values[s[-1]]
if len(s) > 1:
    for index, value in enumerate(reversed(s[:-1])):
        multiplier = 26 ** (index+1)
        result += values[value] * multiplier
result
# for items in values:
#     print(key)

703

In [18]:
s = 'ABC'
reversed(s[:-1])

In [ ]:
class Solution(object):
    def titleToNumber(self, s):
        """
        :type s: str
        :rtype: int
        """
        # For each letter of the alphabet, correspond that to a number
        values = {}
        for index, letter in enumerate(string.ascii_uppercase):
            values[letter] = index + 1
        
        result = values[s[-1]]
        if len(s) > 1:
            for index, value in enumerate(reversed(s[:-1])):
                multiplier = 26 ** (index+1)
                result += values[value] * multiplier
        return result