<a href="https://colab.research.google.com/github/LilySu/Python_Practice/blob/master/Python_OOP_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

method - function associated with a class

classes are great for attributes with specific values
a class is good for creating each employee

classes are a great blueprint for creating employees

In [ ]:
class Employee:
  pass
emp_1 = Employee()#instances of Employee class
#manually create:
emp_1.first = 'Corey'
emp_1.last = 'User'#each instance has attributes unique to them
emp_1.email = 'Test.User@company.com'
emp_1.pay = 60000
print(emp_1.email)
# this is prone to mistakes if we did it this way

Test.User@company.com

In [ ]:
#instance variables contain data unique for each instance

In [ ]:
class Employee:

  raise_amount = 1.04
  def __init__(self, first, last, pay):#constructor, instance received automatically, convention is self
    self.first = first # keep similar if possible
    self.last = last 
    self.pay = pay
    self.email = first + '.' + last + '@company.com'

  def fullname(self):#take instance as first argulment in order to take full name
    return '{} {}'.format(self.first, self.last)

  def apply_raise(self):
    self.pay = int(self.pay * self.raise_amount)

emp_1 = Employee('Corey','Schafer',50000)
emp_2 = Employee('Test','User',60000)

emp_1.raise_amount = 1.05 # this will override

# print(emp_1.pay)
# emp_1.apply_raise()
# print(emp_1.pay)
# print(emp_1.fullname())

print(emp_1.__dict__)

{'first': 'Corey', 'last': 'Schafer', 'pay': 50000, 'email': 'Corey.Schafer@company.com', 'raise_amount': 1.05}

In [ ]:
print('{} {}'.format(emp_1.first,emp_1.last))

Corey Schafer

In [ ]:
s = set("Hacker")

In [ ]:
print(s.intersection("Rank"))

{'a', 'k'}

In [ ]:
num_students = set(input())
roll_students = set(input())
num_students2 = set(input())
roll_students2 = set(input())

print(num_students.intersection(roll_students2))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
set()

In [ ]:
print(num_students.intersection(roll_students2))

set()

In [ ]:
num_students = input()
roll_students = set(input())
num_students2 = input()
roll_students2 = input()

print(num_students.intersection(roll_students2))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8

AttributeError: ignored

In [ ]:
roll_students2 = input()

1 2 3 4 5 6 7 8 9

In [ ]:
r = {roll_students2.split(' ')}
# s = {r}
# s
f

TypeError: ignored

In [ ]:
s = set(roll_students2)
s

{' ', '1', '2', '3', '4', '5', '6', '7', '8', '9'}

In [ ]:
s.remove(' ')
s

{'1', '2', '3', '4', '5', '6', '7', '8', '9'}

In [ ]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
# Enter your code here. Read input from STDIN. Print output to STDOUT
num_students = int(input())
roll_students = set()
for i in range(num_students):
    roll_students.add(int(input()))


num_students2 = int(input())
roll_students2 = input()

roll_students2.split(' ')

# roll_students2 = set()
# for i in range(num_students2):
#     roll_students2.add(input())

print(roll_students.intersection(roll_students2))

In [ ]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
# Enter your code here. Read input from STDIN. Print output to STDOUT
num_students = int(input())
# roll_students = set()
# for i in range(num_students):
#     roll_students.add(int(input()))
roll_students = set(input())
roll_students.remove(' ')


num_students2 = int(input())
roll_students2 = set(input())
roll_students2.remove(' ')

# roll_students2 = set()
# for i in range(num_students2):
#     roll_students2.add(input())

intersection = roll_students.intersection(roll_students2)

print(len(intersection))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
6

In [ ]:
intersection

{'1', '2', '3', '5', '6', '8'}

In [ ]:
roll_students2

{'0', '1', '2', '3', '5', '6', '8'}

In [ ]:
roll_students2 = input()

10 1 2 3 11 21 55 6 8

In [ ]:
type(roll_students2)

str

In [ ]:
lst = roll_students2.split(' ')

In [ ]:
set(lst)

{'1', '10', '11', '2', '21', '3', '55', '6', '8'}

In [ ]:
10 1 2 3 11 21 55 6 8

In [31]:
#instance variables contain data that is unique

class Employee:
    num_of_emps = 0 #class variables
    raise_amount = 1.04
    def __init__(self,first,last,pay):# this is a constructor, regular methods in a class takes instance as first argument (self), if we change this to take the class as first argument we call a classmethod
        self.first = first
        self.last = last
        self.pay = pay
        self.email = first + '.' + last + '@company.com'

        Employee.num_of_emps += 1

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amount) # self.raise_amount access through instance

    @classmethod # can be alternative constructors
    def set_raise_amt(cls, amount):
        cls.raise_amt = amount

    @classmethod
    def from_string(cls, emp_str):
        first, last, pay = emp_str_1.split('-')
        return cls(first, last, pay) #cls stands fro the Employee class object

    # static methods don't pass anything
    @staticmethod # use staticmethod if you don't access instance or class anywhere in function 
    def is_workday(day):
        if day.weekday() ==5 or day.weekday() ==6:
            return False
        return True


emp_1 = Employee('Corey','Schafer',50000)
emp_2 = Employee('Test','User',60000)

import datetime
my_date = datetime.date(2020, 7, 10)
print(Employee.is_workday(my_date))

Employee.set_raise_amt(1.05)#automatically accepts class, this class method is not an instance method, we are setting raise_amt

# print(Employee.num_of_emps)

# emp_1.fullname()# instance calling method fullname, self is not needed, self passed automatically
# Employee.fullname(emp_1)# class calling method does not know what instance is needed

# emp_1.first = 'Corey'
# emp_1.last = 'Schafer'
# emp_1.email = 'Corey.Schafer@company.com'
# emp_1.pay = 50000

# emp_2.first = 'Test'
# emp_2.last = 'User'
# emp_2.email = 'Test.User@company.com'
# emp_2.pay = 60000

# print(emp_1.email)
# print(emp_2.email)
# print(emp_2.fullname())
# print(emp_1.pay)
# emp_1.apply_raise()
# print(emp_1.pay)
# print(emp_1.raise_amount)
# print(emp_2.raise_amount)
# emp_1.raise_amount=1.05
# print(Employee.raise_amount)
# print(emp_1.raise_amount)
# print(emp_2.raise_amount)

# print(Employee.raise_amt)
# print(emp_1.raise_amt)
# print(emp_2.raise_amt)

emp_str_1 = 'John-Doe-70000'
emp_str_2 = 'Steve-Smith-30000'
emp_str_3 = 'Jane-Doe-90000'
first, last, pay = emp_str_1.split('-')
new_emp_1 = Employee.from_string(emp_str_1)

print(new_emp_1.email)
print(new_emp_1.pay)

True
John.Doe@company.com
70000

In [6]:
#instance variables contain data that is unique

class Employee:
    num_of_emps = 0 #class variables
    raise_amount = 1.04
    def __init__(self,first,last,pay):# this is a constructor, regular methods in a class takes instance as first argument (self), if we change this to take the class as first argument we call a classmethod
        self.first = first
        self.last = last
        self.pay = pay
        self.email = first + '.' + last + '@company.com'

        Employee.num_of_emps += 1

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amount) # self.raise_amount access through instance

class Developer(Employee):
    raise_amount = 1.10

emp_1 = Developer('Corey','Schafer',50000) #looks first in developer class, then walk up chain of inheritence, chain is called method resolution order
emp_2 = Developer('Test','User',60000)
#the chain in which code is run method resolution order

# print(emp_1.email)
# print(emp_1.pay)

print(emp_1.pay)
emp_1.apply_raise()
print(emp_1.pay)

# print(help(Developer))

50000
55000

In [12]:
#instance variables contain data that is unique

class Employee:
    num_of_emps = 0 #class variables
    raise_amount = 1.04
    def __init__(self,first,last,pay):# this is a constructor, regular methods in a class takes instance as first argument (self), if we change this to take the class as first argument we call a classmethod
        self.first = first
        self.last = last
        self.pay = pay
        self.email = first + '.' + last + '@company.com'

        Employee.num_of_emps += 1

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amount) # self.raise_amount access through instance

class Developer(Employee):
    raise_amount = 1.10
    # let employee handle first name last name, and pay
    # if we want to pass in another attribute and add on other functions
    def __init__(self, first, last, pay, prog_lang):
        super().__init__(first, last, pay) # more maintainable, better for multiple inheretence 
        # Employee.__init__(self, first, last, pay) # same thing
        self.prog_lang = prog_lang

class Manager(Employee):
    def __init__(self, first, last, pay, employees=None):
        super().__init__(first, last, pay)
        if employees is None:
            self.employees = []
        else:
            self.employees = employees

    def add_emp(self, emp):
        if emp not in self.employees:
            self.employees.append(emp)

    def remove_emp(self, emp):
        if emp in self.employees:
            self.employees.remove(emp)

    def print_emps(self):
        for emp in self.employees:
            print('-->', emp.fullname())

dev_1 = Developer('Corey','Schafer',50000, 'Python') #looks first in developer class, then walk up chain of inheritence, chain is called method resolution order
dev_2 = Developer('Test','User',60000, 'Java')

mgr_1 = Manager('Sue', 'Smith',90000, [dev_1])

print(isinstance(mgr_1, Manager)) # tells us if an object is an instance of a class, ie is mrg_1 is an instance of Manager
# even though developer and manager both inherit from employee, they are not part of each other's inheritance

print(issubclass(Developer, Employee)) # if a class is a subclass of another class, ie is Developer a subclass of Employee


mgr_1.add_emp(dev_2)
mgr_1.remove_emp(dev_1)
print(mgr_1.print_emps())

#the chain in which code is run method resolution order

# print(emp_1.email)
# print(emp_1.pay)

# print(emp_1.pay)
# emp_1.apply_raise()
# print(emp_1.pay)

# print(help(Developer))

True
True
--> Test User
None

In [43]:
nums = [3,3,7]
target = 10
newlist = []
for i in nums:
    newlist.append(i)
    for j in nums:
        if j not in newlist:
            if i + j == target:
                print(nums.index(i), nums.index(j))

0 2
0 2

In [14]:
nums = [230,863,916,585,981,404,316,785,88,12,70,435,384,778,887,755,740,337,86,92,325,422,815,650,920,125,277,336,221,847,168,23,677,61,400,136,874,363,394,199,863,997,794,587,124,321,212,957,764,173,314,422,927,783,930,282,306,506,44,926,691,568,68,730,933,737,531,180,414,751,28,546,60,371,493,370,527,387,43,541,13,457,328,227,652,365,430,803,59,858,538,427,583,368,375,173,809,896,370,789,542]
target = 542

# nums = [1,2, 3, 4,5]
# target = 9
newlist = ''
for i in range(len(nums)):
    newlist += str(i)
    for j in range(len(nums)):
        if str(j) not in newlist:
            if nums[i] + nums[j] == target:
                print(i, j)

In [21]:
nums = [230,863,916,585,981,404,316,785,88,12,70,435]

my_list = [n for n in nums]
print(my_list)

[230, 863, 916, 585, 981, 404, 316, 785, 88, 12, 70, 435]

In [22]:
#map runs everything in a list with a certain function
[n*n for n in nums]
map(lambda n: n*n, nums)
print(my_list)

[230, 863, 916, 585, 981, 404, 316, 785, 88, 12, 70, 435]

In [71]:
#enumerate example
example = ['left','right','up','down']

for i, j in enumerate(example):
    print(i,j)

0 left
1 right
2 up
3 down

In [78]:
nums = [230, 863, 916, 585, 981, 404, 316, 785, 88, 12, 70, 435]
target = 100
h = {}
for i,num in enumerate(nums):
    n = target - num # if the total minus one of the numbers equals this number
    if n not in h:#if not in dictionary yet
        h[num] = i # put in a dictionary
    else:
        print([h[n],i])

[8, 9]

In [99]:
string_x = '109000'
for i in range(len(string_x)):
    lastzero = string_x[:-i]
    # if len(lastzero) > 1:
    #     print(lastzero, len(lastzero),lastzero[-1])
    if (len(lastzero) > 1) and (lastzero[-1] != '0'):
        print(lastzero)

109

In [101]:
def is_int32(number):
    try:
        return not(int(number)>>32)
    except ValueError:
        return False

is_int32(2**32)

False

In [113]:
x = 123

def reverse(x):
    if not (abs(123) <= 0xffffffff): return 0
    else:
        strg = str(x)
        if x >= 0: # if x is positive
            revstr = strg[::-1] 
        else: # if x is negative
            temp = strg[1:] # remove the first item
            temp2 = temp[::-1] # reverse
            revstr = '-' + temp2 # add on the negative sign
        if not (abs(int(revstr)) <= 0xffffffff): return 0
        return int(revstr)
reverse(x)

321

In [117]:
abs(123) >= 2**31-1

False

In [106]:
strg = 'test'
strg[1:]

'est'

In [82]:
x = 123
string_x = str(x)
print(int(string_x[::-1]))

321

In [80]:
nums = [230, 863, 916, 585, 981, 404, 316, 785, 88, 12, 70, 435]
for i,num in enumerate(nums):
    print(i,num)

0 230
1 863
2 916
3 585
4 981
5 404
6 316
7 785
8 88
9 12
10 70
11 435

In [75]:
for i,j in enumerate(example):
    print(j)

left
right
up
down

In [72]:
new_dict = dict(enumerate(example))
print(new_dict)

{0: 'left', 1: 'right', 2: 'up', 3: 'down'}

In [73]:
[print(i,j) for i,j in enumerate(new_dict)]

0 0
1 1
2 2
3 3

[None, None, None, None]

In [69]:
# [j for i in range(len(nums)) for j in range(len(nums))]
nums = [3,2,3]
target = 6
newlist = [j for i in range(len(nums)) for j in range(len(nums)) if nums[i] + nums[j] == target]
newlist=list(dict.fromkeys(newlist))

try:
    for i in range(len(newlist)):
        if nums[i] + nums[i+1] == target:
            print([newlist[i], newlist[i+1]])
except:
    pass

TypeError: ignored

In [ ]:
# [j for i in range(len(nums)) for j in range(len(nums))]
nums = [3,2,3]
target = 6
newlist = []
newlist = [for i in range(len(nums))]
newlist=list(dict.fromkeys(newlist))

try:
    for i in range(len(newlist)):
        if nums[i] + nums[i+1] == target:
            print([newlist[i], newlist[i+1]])
except:
    pass

In [15]:
nums = [230,863,916,585,981,404,316,785,88,12,70,435,384,778,887,755,740,337,86,92,325,422,815,650,920,125,277,336,221,847,168,23,677,61,400,136,874,363,394,199,863,997,794,587,124,321,212,957,764,173,314,422,927,783,930,282,306,506,44,926,691,568,68,730,933,737,531,180,414,751,28,546,60,371,493,370,527,387,43,541,13,457,328,227,652,365,430,803,59,858,538,427,583,368,375,173,809,896,370,789,542]
target = 542
newlist = []
for i in range(len(nums)):
    newlist.append(i)
    for j in range(len(nums)):
        if j not in newlist:
            if nums[i] + nums[j] == target:
                print( i, j)

28 45

In [64]:
# # Without list comprehension
# list_of_words = []
# for sentence in text:
#     for word in sentence:
#        list_of_words.append(word)
# return list_of_words
# I like to think of list comprehension as stretching code horizontally.

# Try breaking it up into:

# # List Comprehension 
# [word for sentence in text for word in sentence]

nums = [230,863,916,585,981,404,316,785,88,12,70,435,384,778,887,755,740,337,86,92,325,422,815,650,920,125,277,336,221,847,168,23,677,61,400,136,874,363,394,199,863,997,794,587,124,321,212,957,764,173,314,422,927,783,930,282,306,506,44,926,691,568,68,730,933,737,531,180,414,751,28,546,60,371,493,370,527,387,43,541,13,457,328,227,652,365,430,803,59,858,538,427,583,368,375,173,809,896,370,789,542]
target = 542
# newlist = []
[j for i in range(len(nums)) for j in range(len(nums))]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 ...]

In [62]:
nums = [1,2,3,4,5,6,7,8]
nums.remove(1)
nums

[2, 3, 4, 5, 6, 7, 8]