<a href="https://colab.research.google.com/github/LilySu/Python_Practice/blob/master/Python_Practice_Map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def test_map(n):
    return n + 2

numbers = (1,2,3,4)
result = map(test_map, numbers)
print(list(result))

[3, 4, 5, 6]

In [2]:
def test_map(n):
    return n + 2

numbers = [1,2,3,4]
result = map(test_map, numbers)
print(list(result))

[3, 4, 5, 6]